[submodule "z/hhanh00/warp"]
	path = z/hhanh00/warp
	url = https://github.com/hhanh00/warp
	branch = main
[submodule "z/zcash/zcash"]
	path = z/zcash/zcash
	url = https://github.com/zcash/zcash
	branch = master
[submodule "z/zcash/lightwalletd"]
	path = z/zcash/lightwalletd
	url = https://github.com/zcash/lightwalletd
	branch = master
[submodule "z/zcash/zips"]
	path = z/zcash/zips
	url = https://github.com/zcash/zips
	branch = main
[submodule "z/ZcashFoundation/zebra"]
	path = z/ZcashFoundation/zebra
	url = https://github.com/ZcashFoundation/zebra
	branch = main
[submodule "z/ZecHub/zechub"]
	path = z/ZecHub/zechub
	url = https://github.com/ZecHub/zechub
