PUBLIC_API_BASE_URL=http://localhost:8000
PUBLIC_RECAPTCHA_SITE_KEY=6LckfE8pAAAAAO6LqS7OOYiuDjaL84H3tSKmHxJ4
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
PUBLIC_F2Z_ZCASH_ADDRESS=zs1lm4vumxdpuz08w237n0lpxz490uq5nxasz6mql555f96hql4h7kc3ucf2a42j7mp0slck2uvjjk
# Twitter OAuth Configuration
VITE_TWITTER_CLIENT_ID=your_twitter_client_id_here