PUBLIC_API_BASE_URL=http://localhost:8000
PUBLIC_CANONICAL_BASE_URL=https://free2z.cash
PUBLIC_RECAPTCHA_SITE_KEY=6LckfE8pAAAAAO6LqS7OOYiuDjaL84H3tSKmHxJ4
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
PUBLIC_F2Z_ZCASH_ADDRESS=u1ac9rjvjddcnshvawyc39qujxgll2yu07w5gehstq72z6rjmzurf5c9f65jjedfaedx2h8ajlc6ya0qyfec9mexkwajnfxj00m3a63p2zva6xr9s5ll08yfylth5wkunwvfk0c7qclz436wrc63q2f6089at5l4dxaz6avuq86sxvufyx3c9972cc0y5w3zlyf5erc40cghlwsn4alpk
PUBLIC_IFRAMELY_API_KEY=c7c62b2d895d05ffeb410c4d535e6823
# Twitter OAuth Configuration
VITE_TWITTER_CLIENT_ID=your_twitter_client_id_here
