<div class="site-wrapper-inner">
    <div class="cover-container">
        <div class="inner cover">
            <h1 class="cover-heading">Thank you!</h1>
            <p class="lead">
                You are on the list.
                We will notify you know when this site launches.
            </p>
            <p>
                If you have any questions,
                feel free to email
                <a href="mailto:skylar@free2z.com">
                    <b>skylar@free2z.com</b>
                </a>
            </p>
        </div>
    </div>
</div>