{% extends "index.html" %}


{% block banner %}{% endblock %}
{% block mid %}
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <div class=" site-wrapper-inner">
                    <div class="cover-container">
                        <div class="inner cover">
                            <h1 class="cover-heading">Thank you!</h1>
                            <p class="lead">
                                You are on the list.
                                We will notify you know when this site launches.
                            </p>
                            <p>
                                If you have any questions,
                                feel free to email
                                <a href="mailto:skylar@free2z.com">
                                    <b>skylar@free2z.com</b>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}