.math-markdown {
    /* max-width: "100%"; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

pre[class*="language-"],
code[class*="language-"] {
    color: #d4d4d4;
    font-size: 0.95rem;
    font-weight: 400;
    text-shadow: none;
    font-family:  Menlo, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
    text-shadow: none;
    background: #267844;
}

@media print {

    pre[class*="language-"],
    code[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    padding: 1em;
    overflow: auto;
    background: #000000;
}

:not(pre)>code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    color: #db4c69;
    background: #000000;
}

/*********************************************************
* Tokens
*/
.namespace {
    opacity: .7;
}

code .token.doctype .token.doctype-tag {
    color: #569CD6;
}

code .token.doctype .token.name {
    color: #9cdcfe;
}

code .token.comment,
code .token.prolog {
    color: #6a9955;
}

code .token.punctuation,
code .language-html .language-css .token.punctuation,
code .language-html .language-javascript .token.punctuation {
    color: #d4d4d4;
}

code .token.property,
code .token.tag,
code .token.boolean,
code .token.number,
code .token.constant,
code .token.symbol,
code .token.inserted,
code .token.unit {
    color: #b5cea8;
}

code .token.selector,
code .token.attr-name,
code .token.string,
code .token.char,
code .token.builtin,
code .token.deleted {
    color: #ce9178;
}

code .language-css .token.string.url {
    text-decoration: underline;
}

code .token.operator,
code .token.entity {
    color: #d4d4d4;
}

code .token.operator.arrow {
    color: #569CD6;
}

code .token.atrule {
    color: #ce9178;
}

code .token.atrule .token.rule {
    color: #c586c0;
}

code .token.atrule .token.url {
    color: #9cdcfe;
}

code .token.atrule .token.url .token.function {
    color: #dcdcaa;
}

code .token.atrule .token.url .token.punctuation {
    color: #d4d4d4;
}

code .token.keyword {
    color: #569CD6;
}

code .token.keyword.module,
code .token.keyword.control-flow {
    color: #c586c0;
}

code .token.function,
code .token.function .token.maybe-class-name {
    color: #dcdcaa;
}

code .token.regex {
    color: #d16969;
}

code .token.important {
    color: #569cd6;
}

code .token.italic {
    font-style: italic;
}

code .token.constant {
    color: #9cdcfe;
}

code .token.class-name,
code .token.maybe-class-name {
    color: #4ec9b0;
}

code .token.console {
    color: #9cdcfe;
}

code .token.parameter {
    color: #9cdcfe;
}

code .token.interpolation {
    color: #9cdcfe;
}

code .token.punctuation.interpolation-punctuation {
    color: #569cd6;
}

code .token.boolean {
    color: #569cd6;
}

code .token.property,
code .token.variable,
code .token.imports .token.maybe-class-name,
code .token.exports .token.maybe-class-name {
    color: #9cdcfe;
}

code .token.selector {
    color: #d7ba7d;
}

code .token.escape {
    color: #d7ba7d;
}

code .token.tag {
    color: #569cd6;
}

code .token.tag .token.punctuation {
    color: #808080;
}

code .token.cdata {
    color: #808080;
}

code .token.attr-name {
    color: #9cdcfe;
}

code .token.attr-value,
code .token.attr-value .token.punctuation {
    color: #ce9178;
}

code .token.attr-value .token.punctuation.attr-equals {
    color: #d4d4d4;
}

code .token.entity {
    color: #569cd6;
}

code .token.namespace {
    color: #4ec9b0;
}

/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
    color: #9cdcfe;
}

pre[class*="language-css"],
code[class*="language-css"] {
    color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
    color: #d4d4d4;
}

.language-regex .token.anchor {
    color: #dcdcaa;
}

.language-html .token.punctuation {
    color: #808080;
}

/*********************************************************
* Line highlighting
*/
pre[class*="language-"]>code[class*="language-"] {
    position: relative;
    z-index: 1;
}

.code-line.highlight-line {
    /* background: #f7ebc6; */
    background: #434343;
    box-shadow: inset 5px 0 0 #ffe8a3;
    z-index: 0;
}

/* https://github.com/timlrx/rehype-prism-plus */
pre {
    overflow-x: auto;
}

/**
   * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .code-highlight.
   */
.code-highlight {
    float: left;
    /* 1 */
    min-width: 100%;
    /* 2 */
}

.code-line {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-left-width: 4px;
    border-left-color: rgba(31, 41, 55, 0);
    /* Set code block color */
}

.code-line.inserted {
    background-color: rgba(16, 185, 129, 0.2);
    /* Set inserted line (+) color */
}

.code-line.deleted {
    background-color: rgba(239, 68, 68, 0.2);
    /* Set deleted line (-) color */
}

.highlight-line {
    margin-left: -16px;
    margin-right: -16px;
    background-color: rgba(55, 65, 81, 0.5);
    /* Set highlight bg color */
    border-left-width: 4px;
    border-left-color: rgb(59, 130, 246);
    /* Set highlight accent border color */
}

.line-number::before {
    display: inline-block;
    width: 1rem;
    text-align: right;
    margin-right: 16px;
    margin-left: -8px;
    color: rgb(156, 163, 175);
    /* Line number color */
    content: attr(line);
}

.math {
    overflow: scroll;
}

/* TODO: make darkmode work for real */
/* .math-markdown svg[role="graphics-document document"] { */
.math-markdown svg[role*="document"] {
    background-color: white;
    display: block;
    margin: auto;
    padding: 0.5em;
}

mjx-container {
    overflow: scroll;
}